<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
      document.addEventListener("DOMContentLoaded", () => {

// Fetch the data from the quotable API
fetch("https://api.quotable.io/random")
.then(response => response.json())
.then(data => {
   // Update the DOM with the fetched data
   document.getElementById("quote-content").innerText = data.content;
   document.getElementById("quote-author").innerText = "- " + data.author;
})
.catch(error => console.error("Error fetching data:", error));
});
</script>
 
</head>
<body>
  <%- include('partials/navbar') %>
 
    
    <div  class="card w-96 bg-base-100 shadow-xl " style = "margin:auto; margin-top:10px">
        <figure  class="px-10 pt-10">
          <img src=<%= set.img_url %> alt="Error Loading the Picture" class="rounded-xl" />
        </figure>
        <div class="card-body items-center text-center">
          <h2 class="card-title"><%= set.name %> !</h2>
          
          <p>Year: <%= set.year %> <br> Theme Id:  <%= set.theme_id %> <br>Parts: <%= set.num_parts %> </p>
       
        <div id="quote-container">
          <p id="quote-content"></p>
          <p id ="quote-author"></p>
        </div>
        <div>
        <a href = "/lego/sets"><button type="button" class="text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">RETURN</button></a>
        
        
      
        <a href = "/lego/editSet/<%= set.set_num %>"><button type="button" class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:focus:ring-yellow-900">UPDATE</button></a>
        
   
      <a href = "/lego/deleteSet/<%= set.set_num %>"><button type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">DELETE</button></a>
        
    </div>
      </div>
</body>
</html>